body {
  height: 97vh;
  background-image: url(../images/NBA/Baksetball-court-floor2.jpg);
  background-repeat: no-repeat;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
}

.modal-content {
  background-color: gold;
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#resetButton {
  font-size: 4vh;
  border-radius: 10px;
  font-family: octin-prison;
  width: 40%;
  height: 20%;
}

h1 {
  font-size: 7vh;
  color: white;
  font-family: sports-night;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

.top {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  height: 92%;
}

aside {
  height: 100%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameData {
  font-size: 220%;
  height: 10%;
  font-family: scoreboard;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameData:nth-child(even) {
  background-color: lightgray;
}

#scoreboardId {
  font-family: octin-prison;
  letter-spacing: 1px;
  font-size: 4vh;
}

#timer {
  font-family: digital;
  font-size: 7vh;
  color: red;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  height: 32.2%;
  background-image: url(../images/lfz-card.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.col-1 {
  width: 8%;
}
.col-2 {
  width: 16%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 48%;
}
.col-7 {
  width: 56%;
}
.col-8 {
  width: 64%;
}
.col-9 {
  width: 72%;
}
.col-10 {
  width: 80%;
}
.col-11 {
  width: 88%;
}
.col-12 {
  width: 96%;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url(../images/NBA/Kobe-dribble-logo.png);
}

.zion {
  background-image: url(../images/NBA/Zion-Williamson.png);
}

.doncic {
  background-image: url(../images/NBA/Luka-Doncic.png);
}

.lebron {
  background-image: url(../images/NBA/LeBron-James.png);
}

.kawhi {
  background-image: url(../images/NBA/Kawhi-Leonard.png);
}

.harden {
  background-image: url(../images/NBA/James-Harden.png);
}

.morant {
  background-image: url(../images/NBA/Ja-Morant.png);
}

.giannis {
  background-image: url(../images/NBA/Giannis-Antetokounmpo.png);
}

.donovan {
  background-image: url(../images/NBA/Donovan-Mitchell.png);
}

.lillard {
  background-image: url(../images/NBA/Damian-Lillard.png);
}

.hidden {
  display: none;
}
